@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 95%;
  margin: 0 auto;
  background: #fff9f0;
  font-weight: bold;
}

.news__header__text {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.all_news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news {
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.news__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news__author {
  margin-right: 10px;
  color: green;
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  margin-top: 20px;
  display: inline-block;
  color: rgb(136, 136, 136);
}
